:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center; 
}

header, footer {
    background-color: var(--blue-grey-50);
    color: #fff;
    padding: 2rem 4rem;   
}